{{#d-modal-body}}
  <p>
    {{i18n 'topics.dismiss_unseen.description'}}
  </p>
{{/d-modal-body}}

<div class="modal-footer">
  <button class='btn btn-primary' {{action "dismissUnseenTopics"}}>
    {{d-icon "check"}} {{i18n 'topics.dismiss_unseen.button'}}</button>
</div>
